#
# Example of secret file.
#
# service @ type+host+port = identity : password
# service @ type+ip+port = identity : password
# service @ type+ip/prefix+port = identity : password
#
# Empty field matches any value in that field.
#
#

Service @ tcp+192.168.1.1/24+1234 = random : acjd8avh6917ym7x3px4bdbenzndrab4mdyat55

@ tcp+::1+3030 = complex : complicated

@++ = hello:world

